/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/out
/resources/public/js/release
/out
/.repl
*.log
/.env
/resources/public/js/release
resources/public/js/app.js
